body, html {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to bottom, #fff250 0%,  #dd2c83 40%, #992181 100%);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.logo {
    background-image: url('img/cup.svg');
    filter: brightness(0) invert(1);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.active {
    color: pink;
}

ul {
    list-style-type: none;
}